<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div th:fragment="samplefooter">
			<!--FOOTER-->
	        <footer class="bg-dark footer" id="bottom">
	        	<div class="footer-container">
		        	<div class="footer-logo">
		        		<img src="/img/logo-white.png">
		        	</div>
		        	<div class="footer-description footer-normal">
		            	<p>상호명 : KILLEVE | 대표자 : 최윤규 | 주소 : 02112 서울특별시 중랑구 중랑천로 146-4 (중화동) 백운빌 502호</p>
		            	<p>사업자명 : 최윤규 | 사업자등록번호 : 123-45-67891 [사업자정보확인]  |  통신판매업신고 : 제 2021-서울중랑-0000 호</p>
		            	<p>전화번호 : 02-2207-3640 |  팩스 : 02-360-3640 | 개인정보보호책임자 : 최윤규 (dev_yg@naver.com)</p>
		            	<p>ⓒ 킬이브 ALL RIGHTS RESERVED. DESIGN BY YGCHOI </p>
		        	</div>
		        	<div class="footer-description footer-mobile">
		            	<p>대표자 : 최윤규</p>
		            	<p>주소 : 주소 : 02112 서울특별시 중랑구 중랑천로 146-4 백운빌 502호</p>
		            	<p>개인정보보호책임자 : 최윤규 (dev_yg@naver.com)</p>
		            	<p>ⓒ 킬이브 ALL RIGHTS RESERVED. DESIGN BY YGCHOI </p>
		        	</div>
		        	<div class="footer-account">
		        		<p>BANK ACCOUNT</p>
		        		<div>기업은행 212-073092-01-010</div>
		        		<div>국민은행 432102-01-315111</div>
		        		<div>예금주 : 최윤규</div>
		        	</div>
		        	<div class="footer-customer">
		        		<p>CUSTOMER CNETER</p>
		        		<div>
			        		<i class="fas fa-microphone fa-2x"></i>
			        		<p>010-8288-3640</p>
		        		</div>
		        		<div class="customer-content">MON-FRI / AM 09:00 - PM 18:00</div>
		        		<div class="customer-content">LUNCH / PM 13:00 - PM 14:00</div>
		        		<div class="customer-content">SAT, SUN, HOLIDAY CLOSED</div>
		        	</div>
	        	</div>
	        </footer>
		</div>
	</body>
</html>