<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
</head>

<body>
	<div th:fragment="sampleheader">
		<header>
			<div class="header_top">
				<div class="inwrap">
					<ul class="navlog">
						<li>
							<a th:href="@{/}"><img src="/img/logo-black.svg"></a>
						</li>
					</ul>
					<ul class="guide_nav">
						<th:block th:if="${session.userRole != null }">
							<li>
								<span th:text="${session.userName}"></span>
								<span style="font-size: 14px;">님</span>
							</li>
							<li><a th:href="@{/members/myPage}"><span>마이페이지</span></a>
							</li>
							<li>
								<a th:href="@{#}" id="drop-Btn">커뮤니티</a>
								<div id="drop-content">
									<div class="dropBox"><a th:href="@{/community/notice}">공지사항</a></div>
									<div class="dropBox"><a th:href="@{/community/qna}">질문사항</a></div>
								</div>
							</li>
							<li><a th:href="@{/cart/cartList(userId=${session.userId})}"><span>장바구니</span></a></li>
						</th:block>
						<th:block th:if="${session.userRole == null}">
							<li><a th:href="@{/users/loginForm}"><span>로그인</span></a></li>
							<li><a th:href="@{/users/joinForm}"><span>회원가입</span></a></li>
							<li>
								<a th:href="@{#}" id="drop-Btn">커뮤니티</a>
								<div id="drop-content">
									<div class="dropBox"><a th:href="@{/community/notice}">공지사항</a></div>
									<div class="dropBox"><a th:href="@{/community/qna}">질문사항</a></div>
								</div>
							</li>
							<li><a th:href="@{/cart/cartList(userId=${session.userId})}"><span>장바구니</span></a></li>
						</th:block>
						<th:block th:if="${session.userRole != null }">
							<li><a th:href="@{/logout}"><span>LOGOUT</span></a></li>
						</th:block>
						<th:block th:if="${session.userRole == 'ROLE_MANAGER' }">
							<li><a th:href="@{/manager/managerMenu}"><span>MANAGER</span></a></li>
						</th:block>
						<th:block th:if="${session.userRole == 'ROLE_ADMIN' }">
							<li><a th:href="@{/admin}"><span>ADMIN</span></a></li>
						</th:block>
					</ul>
				</div>
			</div>
			<feildset class="searchBar"><input type="text" name="search" placeholder="상품명을 검색해보세요"><i class="fas fa-search"></i></feildset>
			<img src="/img/logo-white.svg" class="shopLogo">
			<p class="shopDescription">'킬이브'는 남성의 매력을 <br> 극대화할 수 있는 디자인을 선보입니다.</p>
			<div class="index-header">
				<div class="shop-name-area">
					<div class="shop-name">KIIIEVE</div>
				</div>
			</div>
			<div class="category-bar">
				<ul>
					<li>
						<div class="dropdown">
							<a class="btn">
								NEW
							</a>
						</div>
					</li>
					<li>
						<div class="dropdown">
							<a class="btn">
								BEST
							</a>
						</div>
					</li>
					<li>
						<div class="dropdown">
							<a class="btn" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								OUTER
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><a class="dropdown-item" href="#">코트</a></li>
								<li><a class="dropdown-item" href="#">자켓</a></li>
								<li><a class="dropdown-item" href="#">패딩</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="dropdown">
							<a class="btn" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								TOP
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><a class="dropdown-item" href="#">코트</a></li>
								<li><a class="dropdown-item" href="#">자켓</a></li>
								<li><a class="dropdown-item" href="#">패딩</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="dropdown">
							<a class="btn" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								PANTS
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><a class="dropdown-item" href="#">코트</a></li>
								<li><a class="dropdown-item" href="#">자켓</a></li>
								<li><a class="dropdown-item" href="#">패딩</a></li>
							</ul>
						</div>
					</li>
					<li>
						<div class="dropdown">
							<a class="btn" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
								SHIRT
							</a>
							<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
								<li><a class="dropdown-item" href="#">코트</a></li>
								<li><a class="dropdown-item" href="#">자켓</a></li>
								<li><a class="dropdown-item" href="#">패딩</a></li>
							</ul>
						</div>
					</li>
				</ul>
			</div>
		</header>
	</div>
	<!--th:fragment End-->
</body>

</html>