<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
</head>

<body>
	<div th:fragment="sampleheader">
		<header>
			<div class="header_top">
				<div class="inwrap">
					<ul class="navlog">
						<li>
						<a th:href="@{/}"><img src="/img/logo-black.svg"></a>
						</li>
					</ul>
					<ul class="guide_nav">
						<th:block th:if="${session.userRole != null }">
							<li><span sec:authentication="principal.username"></span><span
									style="font-size: 14px;">님</span></li>
						</th:block>
						<th:block th:if="${session.userRole == null}">
							<li><a th:href="@{/users/loginForm}"><span>로그인</span></a></li>
							<li><a th:href="@{/users/joinForm}"><span>회원가입</span></a></li>
							<li><a th:href="@{/users/loginForm}"><span>마이페이지</span></a></li>
							<li><a th:href="@{/users/loginForm}"><span>장바구니</span></a></li>
						</th:block>
						<th:block th:if="${session.userRole != null }">
							<li><a th:href="@{/logout}"><span>Logout</span></a></li>
						</th:block>
						<th:block th:if="${session.userRole == 'ROLE_MANAGER' }">
							<li><a th:href="@{/manager}"><span>Manager</span></a></li>
						</th:block>
						<th:block th:if="${session.userRole == 'ROLE_ADMIN' }">
							<li><a th:href="@{/admin}"><span>Admin</span></a></li>
						</th:block>
						<!--<li class="community"><a href="#n"><span>커뮤니티</span></a>
						<ul class="xans-element- xans-layout xans-layout-boardinfo slideUp">
							<li class="xans-record-"><a href="/board/notice/1/">NOTICE</a></li>
							<li class="xans-record-"><a href="/board/event/2/">EVENT</a></li>
							<li class="xans-record-"><a href="/board/qa/6/">Q&amp;A</a></li>
							<li class="xans-record-"><a href="/board/review/4/">REVIEW</a></li>
						</ul>
					</li>-->
					</ul>
				</div> <!--// inwrap END -->
			</div>
			<!--<div class="header-middle bg-dark">
				<div>
					<a href="/"><img src="/img/logo.png" class="logo"></a>
				</div>
			</div>-->
		</header>
	</div> <!--th:fragment End-->
</body>

</html>