<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}>

<head>
	<meta charset="utf-8" />
	<link th:href="@{/css/product.css}" rel="stylesheet">
	<link th:href="@{/css/manager.css}" rel="stylesheet">
	<script th:src="@{/js/manager.js}"></script>
</head>

<body>
	<section layout:fragment="content">
		<dl>
			<!--상품등록 메뉴-->
			<dt>
				<p>상품등록</p>
			</dt>
			<dd>
				<div class="container">
					<div class="product-content">
						<div class="product-title">
							PRODUCT SAVE<br>
							<span class="qna-sub-title">상품 등록</span>
						</div>
						<div class="product-body">
							<form method="post" action="/manager/productSave" enctype="multipart/form-data">
								<table class="product-write-table">
									<tr>
										<th>상품명</th>
										<td><input type="text" class="product-input-title" id="productName" name="productName" required></td>
									</tr>
									<tr>
										<th>카테고리</th>
										<td>
											<input id="category1" name="category" value="outer" type="radio" checked>
											<label for="category1">OUTER</label>
											<input id="category2" name="category" value="top" type="radio">
											<label for="category2">TOP</label>
											<input id="category3" name="category" value="pants" type="radio">
											<label for="category3">PANTS</label>
											<input id="category4" name="category" value="shoes" type="radio">
											<label for="category4">SHOES</label>
										</td>
									</tr>
									<tr>
										<th>소비자가</th>
										<td>
											<input type="number" class="product-input" id="consumerPrice"
												name="consumerPrice" min="0" max="1000000" required>
										</td>
									</tr>
									<tr>
										<th>할인율</th>
										<td>
											<input type="number" class="product-input" id="discountRate"
												name="discountRate" min="0" max="100" value="0" required> %
										</td>
									</tr>
									<tr>
										<th>판매가</th>
										<td>
											<input type="number" class="product-input" id="salePrice" name="salePrice"
												min="0" max="1000000" readOnly required>
										</td>
									</tr>
									<tr>
										<th>재고</th>
										<td><input type="number" class="product-input" id="stock" name="stock" min="1" max="10000"
												value="1" required></td>
									</tr>
									<tr>
										<th>색상</th>
										<td>
											<div id="addColorList" class="addList">
											</div>
											<input type="text" class="product-input" id="colorInput" required>
											<input type="button" id="colorAdd" value="추가"/>
										</td>
									</tr>
									<tr>
										<th>사이즈</th>
										<td>
											<div id="addSizeList" class="addList">
											</div>
											<input type="text" class="product-input" id="sizeInput" required>
											<input type="button" id="sizeAdd" value="추가"/>
										</td>
									</tr>
									<tr>
										<th>대표이미지</th>
										<td>
											<div class="image-container">
												<img id="preview-image"
													src="https://dummyimage.com/500x500/ffffff/000000.png&text=preview+image">
												<input style="display: block;" type="file" id="input-image"
													name="mainFile" required>
											</div>
										</td>
									</tr>
									<tr>
										<th>상세이미지</th>
										<td>
											<input type="file" id="input-imgs" name="files" multiple />
											<div id="imgs_wrap" class="imgs_wrap" required>
											</div>
										</td>
									</tr>
								</table>
								<div class="product-bottom">
									<a href="#" id="productSubmit">상품등록</a>
									<a th:href="@{/}" class="writeBtn">취소</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</dd>
			<!--할인등록 메뉴-->
			<dt class="disableTab">
				<p>할인등록</p>
			</dt>
			<dd class="hidden">
				할인등록
			</dd>
			<!--회원관리 메뉴-->
			<dt class="disableTab">
				<p>회원관리</p>
			</dt>
			<dd class="hidden">
				회원관리
			</dd>
			<!--주문관리 메뉴-->
			<dt class="disableTab">
				<p>주문관리</p>
			</dt>
			<dd class="hidden">
				주문관리
			</dd>
	</section>
</body>

</html>