<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}>

<head>
	<meta charset="utf-8" />
	<link th:href="@{/css/productDetail.css}" rel="stylesheet">
	<script th:src="@{/js/productDetail.js}"></script>
</head>

<body>
	<section layout:fragment="content">
		<div class="product-container">
			<div class="product-head">
				<div class="product-head-img">
					<img th:src="@{/img/product/{category}/{productNo}/{fileName}(category=${detail.category},productNo=${detail.productNo}, fileName=${detail.mainImage})}">
				</div>
				<div class="product-head-info">
					<div>
						<h2 id="productName" th:text="${detail.productName}"></h2>
					</div>
					<hr class="infoHr">
					<div>
						<table class="product-detail-table">
							<tr>
								<th>소비자가</th>
								<td><span th:text="'￦'+${detail.consumerPrice}+'원'" id="consumerPrice" class="consumerPrice"></span></td>
							</tr>
							<tr>
								<th>할인율</th>
								<td><span th:text="${detail.discountRate}+'%'" id="discountRate" class="discountRate"></span></td>
							</tr>
							<tr>
								<th>판매가</th>
								<td><span th:text="'￦'+${detail.salePrice}+'원'" id="salePrice"></span></td>
							</tr>
							<tr>
								<th>상품명</th>
								<td><span th:text="${detail.productName}"></span></td>
							</tr>
							<tr class="selectTr">
								<th>색상</th>
								<td>
									<select name="option1" id="select-color" class="selectBox" required>
										<option value="*" selected="">- [필수] 옵션선택 -</option>
										<option value="**" disabled="">-------------------</option>
										<span th:each="color : ${color}">
											<option th:value="${color.colorName}" th:text="${color.colorName}"></option>
										</span>
									</select>
								</td>
							</tr>
							<tr class="selectTr">
								<th>사이즈</th>
								<td>
									<select name="option1" id="select-size" class="selectBox" required>
										<option value="*" selected="">- [필수] 옵션선택 -</option>
										<option value="**" disabled="">-------------------</option>
										<span th:each="size : ${size}">
											<option th:value="${size.sizeName}" th:text="${size.sizeName}"></option>
										</span>
									</select>
								</td>
							</tr>
						</table>
						<div class="guideText">(최소주문수량 1개 이상)</div>
						<div class="totalProduct">
							<!--<table class="total-table">
							<tr>
								<td class="totalTd1"><b>[wool] 울 캐시 세미오버 싱글코트OT</b><br>-블랙/105(XL)</td>
								<td class="totalTd2">
									<span class="quantityArea">
										<input type="text" id="quantity" name="" class="quantity" value="1">
										<a href="#none" class="upBtn">
											<img src="//img.echosting.cafe24.com/design/skin/default/product/btn_count_up.gif" alt="수량증가">
										</a>
										<a href="#none" class="downBtn">
											<img src="//img.echosting.cafe24.com/design/skin/default/product/btn_count_down.gif" id="option_box1_down" class="option_box_down" alt="수량감소">
										</a>
									</span>
									<a href="#none" class="delete"><img src="//img.echosting.cafe24.com/design/skin/default/product/btn_price_delete.gif" alt="삭제" id="option_box1_del" class="option_box_del"></a>
								</td>
								<td class="totalTd3"><b>￦89,600</b></td>
							</tr>
							</table>-->
						</div>
						<div class="total-price-area">
							<strong>총 상품금액 (수량) : </strong> ₩
							<span id="totalPrice">0</span>원 (<span id="quantityText">0</span>개)
						</div>
						<div id="test">버튼</div>
					</div>
				</div>
			</div>
		</div>
		<div class="product-container centerAlign">
			<div th:each="product : ${imgDetail}">
				<img th:src="@{/img/product/{category}/{productNo}/{fileName}(category=${detail.category},productNo=${product.productNo}, fileName=${product.fileName})}">
			</div>
		</div>
	</section>
</body>

</html>