<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<meta charset="utf-8" />
	<link th:href="@{/css/community/qna.css}" rel="stylesheet">
</head>

<body>
	<section layout:fragment="content">
		<!--QNA 화면-->
		<div class="container">
			<div class="qna-content">
				<div class="qna-title">
					<font>Q & A</font><br>
					<span class="qna-sub-title">상품 Q&A 입니다.</span>
				</div>
				<div class="qna-body">
					<table class="qna-table">
						<tr class="normal-table">
							<th class="col-1">번호</th>
							<th class="col-8">제목</th>
							<th class="col-1">작성자</th>
							<th class="col-1">작성일</th>
							<th class="col-1">조회수</th>	
						</tr>
						<tr class="mobile-table">
							<th class="col-1">번호</th>
							<th class="col-6">제목</th>
							<th class="col-2">작성자</th>
							<th class="col-2">작성일</th>
							<th class="col-1">조회수</th>	
						</tr>
						<th:block th:if="${list != null}">
							<tr th:each="qna : ${list}">
								<td th:text="${qna.groupNo}"></td>
								<td style="text-align: left;">
									<th:block th:if="${#strings.equals(qna.chkSecret,'secret')}">
										<a th:href="@{/community/qna/{boardNum}(boardNum = ${qna.boardNum}, chkSecret = ${qna.chkSecret})}">비밀글 입니다 <i class="fas fa-lock"></i></a>
									</th:block>
									<th:block th:if="${#strings.equals(qna.chkSecret,'public')}">
										<a th:href="@{/community/qna/{boardNum}(boardNum = ${qna.boardNum}, chkSecret = ${qna.chkSecret})}" th:text="${qna.title}"></a>								
									</th:block>
									<th:block th:if="${#strings.equals(qna.chkSecret,'reply')}">
										<i class="fas fa-reply-all" style="transform: rotate(180deg );"></i>
										<img src="http://img.echosting.cafe24.com/design/skin/admin/ko_KR/ico_re.gif">
										<a th:href="@{/community/qna/{boardNum}(boardNum = ${qna.boardNum}, chkSecret = ${qna.chkSecret})}" th:text="${qna.title}"></a>
										<i class="fas fa-lock"></i>								
									</th:block>
								</td>
								<td th:text="${qna.userName}"></td>
								<td th:text="${#dates.format(qna.writeDate, 'yyyy-MM-dd')}">
								</td>
								<td th:text="${qna.count}"></td>
							</tr>
						</th:block>
						<th:block th:unless="${list != null}">
							<tr>
								<td colspan="5">글이 존재하지 않습니다.</td>
							</tr>
						</th:block>
					</table>
					<!--페이징 영역-->
					<div class="qna-paging">
						<th:block th:if="${list != null}">
							<th:block th:if="${currentPage > 1}">
								<a th:href="@{/community/qna(currentPage = ${currentPage -1}, search = ${search}, searchKind = ${searchKind})}" th:if="${not #strings.isEmpty(search)}">
									<span class="fas fa-angle-double-left"></span>
								</a>
								<a th:href="@{/community/qna(currentPage = ${currentPage -1})}"  th:unless="${not #strings.isEmpty(search)}">
									<span class="fas fa-angle-double-left"></span>
								</a>
							</th:block>
							<th:block th:each="num: ${#numbers.sequence(1,totalPage)}">
									<a th:href="@{/community/qna(currentPage = ${num}, search = ${search}, searchKind = ${searchKind})}" th:if="${not #strings.isEmpty(search)}">
										<span th:text="${num}" th:classappend="${num} == ${currentPage} ? 'current'"></span>
									</a>
									<a th:href="@{/community/qna(currentPage = ${num})}" th:unless="${not #strings.isEmpty(search)}">
										<span th:text="${num}" th:classappend="${num} == ${currentPage} ? 'current'"></span>
									</a>
							</th:block>
							<th:block th:if="${currentPage < totalPage}">
								<a th:href="@{/community/qna(currentPage = ${currentPage +1}, search = ${search}, searchKind = ${searchKind})}" th:if="${not #strings.isEmpty(search)}">
									<span class="fas fa-angle-double-right"></span>
								</a>
								<a th:href="@{/community/qna(currentPage = ${currentPage +1})}"  th:unless="${not #strings.isEmpty(search)}">
									<span class="fas fa-angle-double-right"></span>
								</a>
							</th:block>
						</th:block>
					</div>
					<!--검색창 및 버튼영역-->
					<div class="qna-bottom">
						<div class="searchBox">
							<form action="/community/qna">
								<select name="searchKind" class="searchKind">
								  <option value="title" selected="selected">제목</option>
								  <option value="userName">작성자</option>
								</select>
								<input type="text" name="search"  class="searchInput">
								<button>SEARCH</button>
							</form>
						</div>
						<div class="buttonBox">
							<a th:href="@{/community/qna}" style="float: right;">글목록</a>
							<a th:href="@{/community/qnaForm}" style="float: right;">글작성</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>