<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<meta charset="utf-8" />
	<script src="/js/join.js"></script>
	<link href="/css/user/join.css" rel="stylesheet">
	<!--다음 주소 API-->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
</head>
<body>
	<div layout:fragment="content">
		<!--회원가입 폼-->
		<th:block th:if="${nomalJoin == null }">
			<!--회원가입 선택화면-->
			<section>
				<div class="join-select"> 
					<div class="join-form">
						<div class="form-group title">
							<h1>회원가입</h1>
						</div>
						<div class="seperator"></div>
						<div class="form-group joinText">
							<p>아이디, 비밀번호, 이름, 휴대번호 입력하기 귀찮으시죠?<br>다른 계정으로 1초 만에 회원가입 하세요.</p>
						</div>
						<div class="form-group">
							<div class="googleBtn snsBtn">
								<a th:href="@{/oauth2/authorization/google}">
									<img src="/img/googleIcon.png">
									GOOGLE로 회원가입
								</a>
							</div>
						</div>
						<div class="form-group">
							<div class="facebookBtn snsBtn">
								<a th:href="@{/oauth2/authorization/facebook}">
									<img src="/img/facebookIcon.png">
									FACEBOOK로 회원가입
								</a>
							</div>
						</div>
						<div class="form-group afterDiv">
							<div class="naverBtn snsBtn">
								<a th:href="@{/oauth2/authorization/naver}">
									<img src="/img/naverIcon.png">
									NAVER로 회원가입
								</a>
							</div>
						</div>
						<div class="seperator"></div>
						<div class="joinText">
							<p>일반회원가입을 원하세요?</p>
						</div>
						<div class="form-group">
							<div class="snsBtn normalLoginBtn">
								<a href="/users/joinForm?nomalJoin='Y'">일반 회원가입</a>
							</div>
						</div>
					</div>
				</div>
			</section>
		</th:block>
		<th:block th:if="${nomalJoin != null }">
			<section>
				<div class="container">
					<!--MODAL 창-->
					<div class="modal fade" id="defaultModal">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<h4 class="modal-title">알림</h4>
								</div>
								<div class="modal-body">
									<p class="modal-contents"></p>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" id="close">닫기</button>
								</div>
							</div>
						</div>
					</div>
					<!--일반회원 가입-->
					<form class="join-content" role="form" method="post" action="/users/join">
						<div class="form-group">
							<h2>JOIN</h2>
						</div>
						<div class="form-group requiredText">
							<p><img src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif"	alt="필수">필수사항</p>
						</div>
						<div class="form-group">
							<table class="join-table">
								<tr>
									<th>
										아이디
										<img src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif" alt="필수">
									</th>
									<td>
										<input type="text" class="joinInput onlyAlphabetAndNumber" id="id" name="userId"
											data-rule-required="true" maxlength="30">
										<span class="chkId"></span>
										<!--아이디 중복체크여부 hidden으로 넣어야됨-->
										<span class="normal">30자이내의 알파벳, 언더스코어(_), 숫자만 입력 가능합니다.</span>
										<div class="mobile">30자이내의 알파벳, 언더스코어(_), 숫자만 입력 가능합니다.</div>
									</td>
								</tr>
								<tr>
									<th> 
										비밀번호
										<img src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif" alt="필수">
									</th>
									<td>
										<input type="password" class="joinInput" id="password" name="password" data-rule-required="true" maxlength="30">
										<span class="chkPwd normal"></span>
										<div class="chkPwd mobile"></div>
									</td>
								</tr>
								<tr>
									<th>
										비밀번호 확인
										<img src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif"
											alt="필수">
									</th>
									<td>
										<input type="password" class="joinInput" id="passwordCheck"	data-rule-required="true" maxlength="30">
										<span class="chkPwdMatch normal"></span>
										<div class="chkPwdMatch mobile"></div>
									</td>
								</tr>
								<tr>
									<th>
										이름
										<img src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif"
											alt="필수">
									</th>
									<td>
										<input type="text" class="joinInput onlyHangul" id="name" name="userName" data-rule-required="true" maxlength="15">
										<span class="normal">한글만 입력 가능합니다.</span>
										<div class="mobile">한글만 입력 가능합니다.</div>
									</td>
								</tr>
								<tr>
									<th>
										이메일
									</th>
									<td>
										<input type="text" class="joinInput" id="email" name="email" data-rule-required="true" maxlength="40"><span> @ </span>
										<input type="text" class="joinInput" id="emailProvider" name="emailProvider" data-rule-required="true" maxlength="40">
										<select class="joinInput emailSelectBox addLeftMargin" id="emailProviderSelect" name="emailProviderSelect" required>
											<option value="*" selected>직접입력</option>
											<option value="naver.com">naver.com</option>
											<option value="daum.net">daum.net</option>
											<option value="kakao.com">kakao.com</option>
											<option value="gmail.com">gmail.com</option>
											<option value="yahoo.com">yahoo.com</option>
											<option value="nate.com">nate.com</option>
											<option value="hotmail.com">hotmail.com</option>
										</select>
									</td>
								</tr>
								<tr>
									<th>
										휴대폰번호
									</th>
									<td>
										<input type="tel" class="joinInput onlyNumber" id="phoneNumber" name="phone" data-rule-required="true" maxlength="11">
										<span class="normal">-를 제외하고 숫자만 입력하세요.</span>
										<div class="mobile">-를 제외하고 숫자만 입력하세요.</div>
									</td>
								</tr>
								<tr>
									<th>
										주소
										<img src="//img.echosting.cafe24.com/skin/base/common/ico_required_blue.gif" alt="필수">
									</th>
									<td>
										<table>
											<tr colspan="2">
												<td>
													<div>
														<input class="col-lg-6 joinInput" id="zipCode" type="text" name="zipCode" placeholder=" 우편번호" readonly>
														<input type="button" onclick="findAddr()" value="주소찾기" />
													</div>
												</td>
											</tr>
											<tr>
												<td>
													<div>
														<input class="col-lg-6 joinInput" id="address" type="text" name="address" placeholder=" 기본주소" readonly>
														<input class="col-lg-6 joinInput" id="detailAddress" type="text" name="detailAddress" placeholder=" 상세주소">
													</div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
								<tr>
									<th>
										이메일 수신여부
									</th>
									<td>
										<input type="checkbox" class="joinCheckInput" name="emailReceiveYn" value="on" checked>
										<span>동의함</span>
									</td>
								</tr>
								<tr>
									<th>
										문자 수신여부
									</th>
									<td>
										<input type="checkbox" class="joinCheckInput" name="smsReceiveYn" value="on" checked>
										<span>동의함</span>
									</td>
								</tr>
							</table>
						</div>
						<span class="font">추가정보</span>
						<div class="form-group">
							<table class="join-table">
								<tr>
									<th>성별</th>
									<td>
										<input id="is_sex0" name="gender" value="M" type="radio" checked>
										<label for="is_sex0" class="sexText">남자</label>
										<input id="is_sex1" name="gender" value="F" type="radio">
										<label for="is_sex1" class="sexText">여자</label>
									</td>
								</tr>
								<tr>
									<th>생년월일</th>
									<td>
										<select name="birthYear" id="year" class="birth-select" style="width: 60px;"></select>
										<select name="birthMonth" id="month" class="birth-select" style="width: 49px;"></select>
										<select name="birthDay" id="day" class="birth-select" style="width: 49px;"></select>
									</td>
								</tr>
							</table>
						</div>
						<span class="font">전체동의</span>
						<div class="form-group">
							<table class="terms-table" style="margin-bottom : 25px;">
								<tr>
									<th>
										<span class="check-span">
											<input type="checkbox" id="allChecked">
										</span>
										<label for="allChecked">
											<strong>회원가입약관[필수] 및 개인정보 취급방침[필수]에 모두 동의합니다.</strong>
										</label>
									</th>
								</tr>
								<tr>
									<th>
										<span class="font">[필수] 회원가입 약관</span>
										<div th:replace="users/terms/joinTerms.html :: joinTerms"></div>
										<span class="font">회원가입 약관에 동의하십니까? </span>
										<input type="checkbox" class="joinCheckInput" id="joinCheck" name="xxx" value="Y">
										<span class="font">동의함</span>
									</th>
								</tr>
								<tr>
									<th>
										<span class="font">[필수] 개인정보 취급방침</span>
										<div th:replace="users/terms/personTerms.html :: personTerms"></div>
										<span class="font">개인정보 취급방침에 동의하십니까? </span>
										<input type="checkbox" class="joinCheckInput" id="personCheck" name="xxx" value="Y">
										<span class="font">동의함</span>
									</th>
								</tr>
								<tr>
									<th>
										<button class="join-btn">회원가입</button>
									</th>
								</tr>
							</table>
						</div>
					</form>
				</div>
			</section>
		</th:block>
	</div>
</body>
</html>