<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
	<meta charset="utf-8" />
	<script th:src="@{/js/cart.js}"></script>
	<link th:href="@{/css/product/cart.css}" rel="stylesheet">
</head>

<body>
	<section layout:fragment="content">
		<!--장바구니 화면-->
		<div class="container">
			<div class="cart-content">
				<div class="cart-title">
					CART<br>
					<span class="cart-sub-title">장바구니 목록</span>
				</div>
				<div class="guideText">
					<span>*10만원 이상 배송비 무료</span>
				</div>
				<div class="cart-body normal">
					<form action="/order/orderDetail" id="cartForm">
						<table class="cart-table">
							<tr>
								<td style="width:5%;"><input type="checkbox" id="checkAll"></td>
								<td style="width:12%;">이미지</td>
								<td style="width:37%;">상품정보</td>
								<td style="width:9%;">판매가</td>
								<td style="width:9%;">수량</td>
								<td style="width:9%;">배송비</td>
								<td style="width:9%;">합계</td>
								<td style="width:9%;">삭제</td>
							</tr>
							<th:block th:if="${#lists.isEmpty(cartList)}">
								<tr>
									<td colspan="100" style="height:148px; font-size:15px;">
										<div>장바구니가 비어있습니다.</div>
									</td>
								</tr>
							</th:block>
							<th:block th:unless="${#lists.isEmpty(cartList)}">
								<tr th:each="cartList, index: ${cartList}" class="cartList-tr">
									<td>
										<input type="checkbox" class="checkBox"	th:name="|orderFormList[${index.index}].check|">
										<input type="hidden" class="cartNo"	th:name="|orderFormList[${index.index}].cartNo|" th:value="${cartList.cartNo}">
									</td>
									<td>
										<a th:href="@{/product/detail/{productNo}(productNo=${cartList.productNo})}">
											<img th:src="@{/img/product/{category}/{productNo}/{fileName}(category=${cartList.category},productNo=${cartList.productNo}, fileName=${cartList.mainImage})}" class="mainImage">
										</a>
									</td>
									<td style="text-align: left;">
										<b th:text="${cartList.productName}"></b><br>
										-<span class="color" th:text="${cartList.color}"></span>/
										<span class="size" th:text="${cartList.size}"></span>
									</td>
									<td>
										<b><span class="salePrice" th:text="${cartList.salePrice}"></span></b>
									</td>
									<td>
										<div>
											<input type="number" class="quantity" th:value="${cartList.quantity}" readOnly>
											<a class="upBtn quantityBtn">
												<img src="//img.echosting.cafe24.com/design/skin/default/product/btn_count_up.gif" alt="수량증가">
											</a>
											<a class="downBtn quantityBtn">
												<img src="//img.echosting.cafe24.com/design/skin/default/product/btn_count_down.gif" alt="수량감소">
											</a><br>
										</div>
									</td>
									<td>
										<span class="deliveryPrice"></span>
									</td>
									<td>
										<b><span class="totalPrice" th:text="${cartList.totalPrice}"></span></b>
									</td>
									<td>
										<span class="deleteBtn">X</span>
									</td>
								</tr>
							</th:block>
						</table>
					</form>
				</div>
				<div class="cart-body mobile">
					<div class="checkAllArea">
						<input type="checkbox" id="mobileCheckAll">
						<span>전체선택</span>
					</div>
					<form action="/order/orderDetail" id="mobileCartForm">
						<th:block th:if="${#lists.isEmpty(cartList)}">
							<div class="empty-cart">
								<div class="empty-image">
									<img src="/img/cart.png">
								</div>
								<div>
									"장바구니가 비었습니다"
								</div>
							</div>
						</th:block>
						<th:block th:unless="${#lists.isEmpty(cartList)}">
							<div th:each="cartList, index: ${cartList}" class="mobile-cart">
								<div class="cart-left">
									<div>
										<input type="checkbox" class="checkBox"	th:name="|orderFormList[${index.index}].check|">
									</div>
									<div>
										<input type="hidden" class="cartNo"	th:name="|orderFormList[${index.index}].cartNo|" th:value="${cartList.cartNo}">
										<a th:href="@{/product/detail/{productNo}(productNo=${cartList.productNo})}">
											<img th:src="@{/img/product/{category}/{productNo}/{fileName}(category=${cartList.category},productNo=${cartList.productNo}, fileName=${cartList.mainImage})}" class="mainImage">
										</a>
									</div>
									<div>
									<b><span class="salePrice" th:text="${cartList.salePrice}"></span></b>
									</div>
								</div>
								<div class="cart-right">
									<b th:text="${cartList.productName}"></b><br>
									-<span class="color" th:text="${cartList.color}"></span>/<span class="size" th:text="${cartList.size}"></span><br>
									<div style="display: inline-block; width : 80px;">
										<b><span class="totalPrice" th:text="${cartList.totalPrice}"></span></b>
									</div>
									<input type="number" class="quantity" th:value="${cartList.quantity}" readOnly>
									<a class="upBtn quantityBtn">
										<img src="//img.echosting.cafe24.com/design/skin/default/product/btn_count_up.gif" alt="수량증가">
									</a>
									<a class="downBtn quantityBtn">
										<img src="//img.echosting.cafe24.com/design/skin/default/product/btn_count_down.gif" alt="수량감소">
									</a>
									<sapn class="deleteBtn">삭제</span>
								</div>
							</div>
						</th:block>
					</form>
				</div>
				<th:block th:unless="${#lists.isEmpty(cartList)}">
					<div>
						<table class="total-table">
							<tr>
								<td class="col-4">총 상품금액</td>
								<td class="col-3">총 배송비</td>
								<td class="col-5">결제예정금액</td>
							</tr>
							<tr>
								<td id="totalPrice"></td>
								<td id="deliveryPrice"></td>
								<td id="totalPay"></td>
							</tr>
						</table>
					</div>
				</th:block>
				<div class="cartBtnArea normal">
					<div id="orderAll">전체상품주문</div>
					<div id="orderSelect">선택상품주문</div>
				</div>
				
				<div class="cartBtnArea mobile">
					<div id="mobileOrderAll">전체상품주문</div>
					<div id="mobileOrderSelect">선택상품주문</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>