@charset "UTF-8";
body {
	/*font-family: 'Nanum Gothic Coding', monospace;*/
	font-family: sans-serif, monospace;
	/*스크롤바 없애기*/
	-ms-overflow-style: none;
}

::-webkit-scrollbar {
	/*스크롤바 없애기*/
	 display: none; 
}


.addLeftMargin {
	margin-left : 12px;
}

section {
	padding-top : 56px;
	min-height : 570px;
}

.sectionFiexd{
	padding-top : 118px;	
}
.dropdown1 {
	float: left;
	overflow: hidden;
}

.dropdown1 .dropbtn {
	border: none;
	padding: 14px 12px;
	font-weight: bold;
	background-color: white;
}

.dropmenu {
	margin: 0 100px;
}

.dropdown1:hover .dropbtn {
	background-color: black;
	color: white;
	z-index: 1;
}
.dropdown1-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 2px 5px 10px 0px rgba(0, 0, 0, 1);
}

.dropdown1-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
}

.dropdown1-content a:hover {
	background-color: #ddd;
	z-index: 1;
}

.dropdown1:hover .dropdown1-content {
	display: block;
	z-index: 1;
}

/* 화살표 */
.slick-arrow{
  z-index: 2; /* prev버튼은 위치 이동시 이미지 뒤로 숨겨짐 */
}
.slick-prev.slick-arrow{ /* prev 이전 */
	left: 15px;
}
.slick-next.slick-arrow{ /* next 다음 */
	right: 15px;
}


/*컴포넌트*/
.flex-container {
	max-width: 1500px;
	margin: 80px auto;
}
.main-content {
	display: flex;
	flex-wrap: wrap;
	justify-content : space-between;
}

/*상품카드 이미지*/
.component img{
	max-width: 100%;
	display : block;
}

/*상품카드 설명영역*/
.component .description {
	font-family: "Roboto","Arial","Nanum Gothic","Malgun Gothic","맑은 고딕","Dotum","돋움","Apple SD Gothic Neo","AppleGothic",sans-serif;
	padding : 1rem 0;
	margin-bottom: 2rem;
	background-color: #ffffff;
}

/*상품카드 상품명*/
.description .title{
	font-weight: 700;
	font-size:13px;
}
.description .consumerPrice{
    text-decoration: line-through;
    font-size:12px;
}
.description .salePrice{
	font-size:12px;
}
.description .stock{
	font-size: 12px;
}

/*화면크기에 따른 카드 개수설정*/
@media (min-width : 480px){
	.component {
		flex : 0 0 calc(50% - 1rem);
	}
}
@media (min-width : 768px){
	.component {
		flex : 0 0 calc(25% - 1rem);
	}
}

/*컴포넌트 타이틀*/
.index-title {
    padding: 10px 0;
    border-bottom: 1px solid black;
    width: 58px;
    margin: 34px auto;
    font-size: 25px;
    text-align: center;
}

/*퀵메뉴*/
.quickMenu {
    position: fixed;
    width: 55px;
    right: 25px;
    top: 758px;
}

/*인스타버튼*/
.quickInsta {
    position: fixed;
    width: 53px;
    height: 53px;
    right: 27px;
    top: 697px;
    border-radius: 50%;
    padding: 3px;
}

/*상품카드 이미지*/
.card-image-div {
    width: 359px;
    overflow: hidden;
}

/*상품카드 이미지 hover*/
.card-image:hover {
	transform: scale(1.1);
	transition-duration: .5s;
}

/*hover시 할인율*/
.discountRate {
	position: relative;
	top: 23px;
	left: 324px;
	width: 35px;
	height: 35px;
	text-align: center;
	padding-top: 5px;
	font-weight: bold;
	font-size: 15px;
	color: white;
	z-index: 1;
	display: inline-block;
	background: #232323f2;
	opacity : 0;
}