/*관리자페이지 탭 설정*/
dl {
	display : flex;
	background: #5c5c5c;
}
dt {
  	height: 40px;
    float: left;
    width: 150px;
    z-index: 9;
    position: relative;
    text-align: center;
    margin: 10px 2px 0 2px;
    /*border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;*/
    border-radius: 3px 3px 0 0;
    background: white;
    color: #5c5c5c;
}

dt:first-child{
	margin-left : 5px;
}

dt p {
    position: relative;
    top: 7px;
}

dd {
 	/*border-top: 1px solid black;*/
    position: absolute;
    width: 100%;
    margin-top: 50px;
    background: white;
    height: 535px;
}
dd.hidden {
   display: none;
}

.disableTab {
    background-color: #999999;
    color: #f3f3f3;
    height: 37px;
    top: 3px;
}

/*관리자페이지 category-bar 감춤*/
.hidden {
	display: none;
}

/*관리자페이지 footer 하단 고정*/
.fixBottom{
	position: absolute;
    bottom: 0px;
    width: 100%;
}

/*대표이미지 미리보기*/
#preview-image {
	width: 130px; 
	border: 1px solid gray; 
	margin: 11px 0;
}
/* 상세 이미지 미리보기*/
.imgs_wrap {
	width : 600px;
	margin-top : 50px;
}

.imgs_wrap img {
	max-width : 200px;
}

.colorList {
	display:flex;
}

.colorList-area {
    background: #c2c2c2;
    padding: 6px;
    text-align: center;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.colorName {
	padding : 0 5px;
}
.cancleBtn {
    color: black;
    background: #969696;
    width: 17px;
    height: 17px;
    display: inline-block;
    border-radius: 2px;
    font-weight: bold;
    vertical-align: middle;
    font-size: 7px;
}

