.notice-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding : 23px 0;
}
.notice-sub-title{
    font-size: 15px;
    font-weight: 100;
}

.notice-content {
	padding:50px 0;
}

/* 공지사항 */
.notice-paging {
	text-align: center;
	padding : 15px 0 0 0;
}

.notice-paging a {
    display: inline-block;
    text-decoration: none;
    font-weight: 200;
    font-size: 18px;
    color: black;
}

.notice-paging a:hover{
    color: blue;
    font-weight: bold;
}

.notice-paging .current{
    color: blue;
    font-weight: bold;
}

.notice-paging span {
    display: block;
    width: 37px;
    height: 35px;
    text-align: center;
}
.notice-table {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.notice-table a {
	text-decoration: none;
	color: black;
}

.notice-table tr {
	border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    height: 49px;
}

.notice-table th {
	background-color: #eceaea;
	padding-left : 12px;
}

.notice-bottom  button{
    color: #414141;
    border: 1px solid #b6b6b6;
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 7px;
    border-radius: 3px;
    background: #e2e2e2;
}

.notice-bottom a{
    color: #414141;
    border: 1px solid #b6b6b6;
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 7px;
    border-radius: 3px;
    background: #e2e2e2;
    text-decoration: none;
    display: block;
    padding-top: 2px;
}


/* 공지사항 작성폼 */
.notice-write-table {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    font-size: 14px;
}

.notice-write-table tr {
	border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    height: 49px;
}
.notice-write-table th {
	background-color: #eceaea;
	padding-left : 12px;
	width : 129px;
}

.notice-table td {
	padding-left : 12px;
}

.write-input {
	margin-left : 12px;
	border: 1px solid #d5d5d5;
	padding-left: 7px;
	width: 300px;
}

.notice-bottom {
	display: flex;
}

.buttonBox {
	position: relative;
	right : -691px;
	display: flex;
}

.searchKind {
	width : 76px;
	height: 30px;
}
