.product-title {
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    padding : 23px 0;
}
.product-sub-title{
    font-size: 15px;
    font-weight: 100;
}

.product-content {
	padding:50px 0;
}

.product-paging {
	text-align: center;
	padding : 15px 0 0 0;
}

.product-paging a {
    display: inline-block;
    text-decoration: none;
    font-weight: 200;
    font-size: 18px;
    color: black;
}

.product-paging a:hover{
    color: blue;
    font-weight: bold;
}

.product-paging .current{
    color: blue;
    font-weight: bold;
}

.product-paging span {
    display: block;
    width: 37px;
    height: 35px;
    text-align: center;
}
.product-table {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.product-table a {
	text-decoration: none;
	color: black;
}

.product-table tr {
	border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    height: 49px;
}

.product-table th {
	background-color: #eceaea;
	padding-left : 12px;
}

.table-title {
	width: 129px;
}
.product-bottom  button{
    color: #414141;
    border: 1px solid #b6b6b6;
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 7px;
    border-radius: 3px;
    background: #e2e2e2;
}

.product-bottom a{
    color: #414141;
    border: 1px solid #b6b6b6;
    width: 100px;
    height: 30px;
    text-align: center;
    margin: 7px;
    border-radius: 3px;
    background: #e2e2e2;
    text-decoration: none;
    display: block;
    padding-top: 2px;
}

.product-write-table {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 100%;
    font-size: 14px;
}

.product-write-table tr {
	border-top: 1px solid #dfdfdf;
    border-bottom: 1px solid #dfdfdf;
    height: 49px;
}
.product-write-table th {
	background-color: #eceaea;
	padding-left : 12px;
	width : 129px;
}

.product-write-table td {
	padding-left: 12px;
}


.product-input {
	border: 1px solid #d5d5d5;
	padding-left: 12px;
	width: 300px;
}

.product-bottom {
	display: flex;
}

.buttonBox {
	position: relative;
	right : -689px;
}

.passwordBtn {
    padding: 12px 135px;
}

.radioInput {
    margin: 0 5px;
    position: relative;
    top: 2px;
}

.radio-input {
	padding-left: 7px;
}
.passwordBox {
    width: 500px;
    height: 288px;
    border: 1px solid #c8c7c7;
    text-align: center;	
    margin : 10px auto;
}

.box-title {
    font-size: 23px;
    font-weight: 600;
    margin: 36px 0;
}

.searchKind {
	width : 76px;
	height: 30px;
}

/*관리자페이지 탭 설정*/
dl {
	display : flex;
	background: #5c5c5c;
}
dt {
  	height: 40px;
    float: left;
    width: 150px;
    z-index: 9;
    position: relative;
    text-align: center;
    margin: 10px 2px 0 2px;
    /*border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;*/
    border-radius: 3px 3px 0 0;
    background: white;
    color: #5c5c5c;
}

dt:first-child{
	margin-left : 5px;
}

dt p {
    position: relative;
    top: 7px;
}

dd {
 	/*border-top: 1px solid black;*/
    position: absolute;
    width: 100%;
    margin-top: 50px;
    background: white;
    height: 535px;
}
dd.hidden {
   display: none;
}

.disableTab {
    background-color: #999999;
    color: #f3f3f3;
    height: 37px;
    top: 3px;
}
.borderBottom {
	border-bottom: 1px solid black;
}

/*관리자페이지 category-bar 감춤*/
.hidden {
	display: none;
}

/*관리자페이지 footer 하단 고정*/
.fixBottom{
	position: absolute;
    bottom: 0px;
    width: 100%;
}

/*이미지 미리보기*/
.imgs_wrap {
	width : 600px;
	margin-top : 50px;
}

.imgs_wrap img {
	max-width : 200px;
}


