<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
	<meta charset="utf-8">
	<title>My test page</title>
</head>

<body>
	<!--<div layout:fragment="content">
		<h1 th:text="${text}">INDEX</h1>
		<form action="/home">
			<input type="text" name="name">
			<input type="submit" value="버튼">
		</form>
		<a href="http://www.naver.com">네이버</a>
	</div>-->
	<div layout:fragment="content">
		<h1> INDEX 입니다!!!! </h1>
		<form action="/home">
			<input type="text" name="name">
			<input type="submit" value="버튼">
		</form>
	</div>
</body>

</html>