<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
	<meta charset="utf-8" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
</head>

<body>
	<div layout:fragment="content">
		<section>
			<div id="slider-div">
				<div>
					<img src="/img/banner/1.jpeg">
				</div>
				<div>
					<img src="/img/banner/2.jpeg">
				</div>
				<div>
					<img src="/img/banner/3.jpeg">
				</div>
				<div>
					<img src="/img/banner/4.jpeg">
				</div>
				<div>
					<img src="/img/banner/5.jpeg">
				</div>
				<div>
					<img src="/img/banner/6.jpeg">
				</div>
			</div>
			<div class="flex-container">
				<p class="best">BEST</p>
				<div class="main-content">
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
				</div>
			</div>
			<div class="flex-container">
				<p class="best">NEW</p>
				<div class="main-content">
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
					<article class="component">
						<img src="https://www.byslim.com/web/product/medium/202110/dbb715288d9405bc6190a130a0c895a6.jpg">
						<div class="description">
							<h3>카드 컴포넌트 만들기</h3>
							<p> 여기에 내용입력하세요 </p>
							<p class="here"> 여기에 세부내용 입력하세요</p>
						</div>
					</article>
				</div>
			</div>
			<div class="quickMenu">
				<img src="/img/kakaoIcon.png" class="quickKakao">			
				<img src="/img/instaIcon.png" class="quickInsta">			
			</div>
		</section>
	</div>
</body>

</html>