<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout/layout">

<head>
	<meta charset="utf-8" />
</head>

<body>
	<div layout:fragment="content">
		<section>
			<div>
				<div class="index-header">
					<div class="index-logo">
						<img src="/img/logo-white.svg">
					</div>
				</div>
				<div class="category-bar">
					<ul>
						<li>
							<div class="dropdown">
								<a class="btn" id="dropdownMenuButton1"	data-bs-toggle="dropdown" aria-expanded="false">
									NEW
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<li><a class="dropdown-item" href="#">코트</a></li>
									<li><a class="dropdown-item" href="#">자켓</a></li>
									<li><a class="dropdown-item" href="#">패딩</a></li>
								</ul>
							</div>
						</li>
						<li>
							<div class="dropdown">
								<a class="btn" id="dropdownMenuButton1"	data-bs-toggle="dropdown" aria-expanded="false">
									BEST
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<li><a class="dropdown-item" href="#">코트</a></li>
									<li><a class="dropdown-item" href="#">자켓</a></li>
									<li><a class="dropdown-item" href="#">패딩</a></li>
								</ul>
							</div>
						</li>
						<li>
							<div class="dropdown">
								<a class="btn" id="dropdownMenuButton1"	data-bs-toggle="dropdown" aria-expanded="false">
									OUTER
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<li><a class="dropdown-item" href="#">코트</a></li>
									<li><a class="dropdown-item" href="#">자켓</a></li>
									<li><a class="dropdown-item" href="#">패딩</a></li>
								</ul>
							</div>
						</li>
						<li>
							<div class="dropdown">
								<a class="btn" id="dropdownMenuButton1"	data-bs-toggle="dropdown" aria-expanded="false">
									TOP
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<li><a class="dropdown-item" href="#">코트</a></li>
									<li><a class="dropdown-item" href="#">자켓</a></li>
									<li><a class="dropdown-item" href="#">패딩</a></li>
								</ul>
							</div>
						</li>
						<li>
							<div class="dropdown">
								<a class="btn" id="dropdownMenuButton1"	data-bs-toggle="dropdown" aria-expanded="false">
									PANTS
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<li><a class="dropdown-item" href="#">코트</a></li>
									<li><a class="dropdown-item" href="#">자켓</a></li>
									<li><a class="dropdown-item" href="#">패딩</a></li>
								</ul>
							</div>
						</li>
						<li>
							<div class="dropdown">
								<a class="btn" id="dropdownMenuButton1"	data-bs-toggle="dropdown" aria-expanded="false">
									SHIRT
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
									<li><a class="dropdown-item" href="#">코트</a></li>
									<li><a class="dropdown-item" href="#">자켓</a></li>
									<li><a class="dropdown-item" href="#">패딩</a></li>
								</ul>
							</div>
						</li>
					</ul>

				</div>
				<!--<div class="py-5">
					<div class="container px-4 px-lg-5 my-5">
						<div class="text-center">
							<h1 class="display-4 fw-bolder">헤더들어갈 자리</h1>
						</div>
					</div>
				</div>-->
				<div class="container px-4 px-lg-5 mt-5">
					<div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
						<div class="col mb-5">
							<div class="card h-100">
								<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
									alt="..." />
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder">Fancy Product</h5>
										$40.00 - $80.00
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View
											options</a></div>
								</div>
							</div>
						</div>
						<div class="col mb-5">
							<div class="card h-100">
								<div class="badge bg-dark text-white position-absolute"
									style="top: 0.5rem; right: 0.5rem">
									Sale</div>
								<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
									alt="..." />
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder">Special Item</h5>
										<div class="d-flex justify-content-center small text-warning mb-2">
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
										</div>
										<span class="text-muted text-decoration-line-through">$20.00</span>
										$18.00
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
											cart</a></div>
								</div>
							</div>
						</div>
						<div class="col mb-5">
							<div class="card h-100">
								<div class="badge bg-dark text-white position-absolute"
									style="top: 0.5rem; right: 0.5rem">
									Sale</div>
								<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
									alt="..." />
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder">Sale Item</h5>
										<span class="text-muted text-decoration-line-through">$50.00</span>
										$25.00
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
											cart</a></div>
								</div>
							</div>
						</div>
						<div class="col mb-5">
							<div class="card h-100">
								<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
									alt="..." />
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder">Popular Item</h5>
										<div class="d-flex justify-content-center small text-warning mb-2">
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>

											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
										</div>
										$40.00
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
											cart</a></div>
								</div>
							</div>
						</div>
						<div class="col mb-5">
							<div class="card h-100">
								<div class="badge bg-dark text-white position-absolute"
									style="top: 0.5rem; right: 0.5rem">
									Sale</div>
								<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
									alt="..." />
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder">Sale Item</h5>
										<span class="text-muted text-decoration-line-through">$50.00</span>
										$25.00
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
											cart</a></div>
								</div>
							</div>
						</div>
						<div class="col mb-5">
							<div class="card h-100">
								<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
									alt="..." />
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder">Fancy Product</h5>
										$120.00 - $280.00
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View
											options</a></div>
								</div>
							</div>
						</div>
						<div class="col mb-5">
							<div class="card h-100">
								<div class="badge bg-dark text-white position-absolute"
									style="top: 0.5rem; right: 0.5rem">
									Sale</div>
								<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
									alt="..." />
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder">Special Item</h5>
										<div class="d-flex justify-content-center small text-warning mb-2">
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
										</div>
										<span class="text-muted text-decoration-line-through">$20.00</span>
										$18.00
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
											cart</a></div>
								</div>
							</div>
						</div>
						<div class="col mb-5">
							<div class="card h-100">
								<img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg"
									alt="..." />
								<div class="card-body p-4">
									<div class="text-center">
										<h5 class="fw-bolder">Popular Item</h5>
										<div class="d-flex justify-content-center small text-warning mb-2">
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
											<div class="bi-star-fill"></div>
										</div>
										$40.00
									</div>
								</div>
								<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
									<div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to
											cart</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</body>

</html>