@charset "UTF-8";

/* 1921px 이상 CSS */ 
@media (min-width:1921px) {
	footer {
		min-height: 180px;
		padding : 30px 0;
	}
	
	.footer-container {
		display : flex;
		margin : 0 auto;
		max-width: 1500px;	
		color: white;
	}
	
	.footer-logo {
	    width: 140px;
	}
	
	.footer-logo > img {
	    width: 100px;
	}
	
	.footer-description {
	    width : 730px;
	    padding-top : 6px;
	    padding-left : 23px;
	}
	.footer-description > p {
	    text-align: left;
	    margin-bottom: 11px;
	    font-size: 12px;
	}
	
	.footer-account {
		font-size : 12px;
		margin-left : 30px;
		width : 230px;
	}
	
	.footer-account > p {
	    font-weight: bold;
	    font-size: 14px;
	}
	
	.footer-account > div {
		margin : 10px 0;
	}
	
	.footer-customer {
		font-size : 12px;
	}
	
	.footer-customer > div{
		display : flex;
	}
	
	.footer-customer > div > i{
		margin-right: 21px;
		margin-bottom: 12px;
	}
	
	.footer-customer > div > p{
		font-size : 28px;
		position : relative;
		top : -11px;
		margin-bottom : 0px;
	}
	
	.footer-customer > p {
	    font-weight: bold;
	    font-size: 18px;
	}
	
	.footer-normal {
		display:block;
	}
	
	.footer-mobile {
		display:none;
	}
	
	.shop-name {
		font-weight: bold;
		font-family: sans-serif, monospace;
	}
}